<div class='row'>
  <div class='col-lg-6 hidden' id='loader'>
    <div class='col-lg-12'>
      <div class="alert alert-info" role="alert">
        <span>Loading data....</span>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-lg-6'>
    <div class='col-lg-3'>
      <h4> Importers: </h2>
    </div>
    <div class='col-lg-6'>
      <%= form_tag("", class: 'form-horizontal') do %>
        <%= select_tag(:parser,
                        options_for_select(@importers),
                        class: 'form-control',
                        id: 'importer-select',
                        include_blank: 'Select importer') %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class='row'>
  <div class='col-lg-6'>
    <div class='col-lg-6'>
      <%= form_tag("", class: 'form-horizontal') do %>
        <%= select_tag(:brand,
                        options_for_select([]),
                        class: 'form-control',
                        id: 'brand-select',
                        include_blank: 'Select brand') %>
      <% end %>
    </div>

    <div class='col-lg-6'>
      <%= form_tag("", class: 'form-horizontal') do %>
        <%= select_tag(:model,
                        options_for_select([]),
                        class: 'form-control',
                        id: 'model-select',
                        include_blank: 'Select model') %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-6'>
    <%= form_tag("", class: 'form-horizontal', id: 'search-form') do %>
      <div class='col-lg-8'>
        <%= text_field_tag(:q, nil, class: 'form-control') %>
      </div>
      <%= submit_tag("Search", class: 'btn btn-primary') %>
    <% end %>
  </div>
</div>

<hr>

<div id='phone-detail'>
</div>
